*{
    margin: 0%;
    padding: 0%;
}


#d{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #f0e1ff, #a1c4fd, #c2e9fb, #ffafbd);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#head{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #f8e71c,
                 12px 12px 0px rgba(0, 0, 0, 0);
}

#container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    row-gap: 10px;
    column-gap: 10px;
}

.cell{
    width: 100px;
    height: 100px;
    background: transparent;    
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    color: black;
    cursor: pointer;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.cell:hover {
    background-color:  #afffd8;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

#btn{
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
    color: black;
    border: none;
    border-radius: 8px; 
    padding: 10px 20px; 
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

#btn:hover {
    background: linear-gradient(135deg, #ffc3a0, #ffafbd);
    transform: scale(1.05);
}